
@use 'sass:map';

// @mixin breakpoint($point) {
//   @if $point == mobile {
//     @media (max-width: 47.9375rem) {
//       @content;
//     }
//   }
//   @if $point == tablet {
//     @media (max-width: 63.875rem) {
//       @content;
//     }
//   }
//   @if $point == small-desktop {
//     @media (max-width: 76.1875rem) {
//       @content;
//     }
//   }
//   @if $point == desktop {
//     @media (max-width: 90rem) {
//       @content;
//     }
//   }
//   @if $point == desktop-lg {
//     @media (min-width: 90.0625rem) {
//       @content;
//     }
//   }
// }

// @mixin xs {
//   @media (max-width: 767px) {
//     @content;
//   }
// }

// @mixin sm {
//   @media (max-width: 1023px) {
//     @content;
//   }
// }

// @mixin md {
//   @media (max-width: 1219px) {
//     @content;
//   }
// }

// @mixin lg {
//   @media (max-width: 1439px) {
//     @content;
//   }
// }

// @mixin xl {
//   @media (min-width: 1440px) and (max-width: 1919px) {
//     @content;
//   }
// }

// @mixin xxl {
//   @media (min-width: 1920px) {
//     @content;
//   }
// }


$breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px,
  xxl: 1920px
);

// @mixin breakpoint($breakpoint) {
//   @media (max-width: map-get($breakpoints, $breakpoint)) {
//     @content;
//   }
// }

@mixin breakpoint($breakpoint) {
  @media (min-width: map.get($breakpoints, $breakpoint)) {
    @content;
  }
}

