@use './__variables' as var;

.cards {
  display: grid;
  gap: 30px;
  padding: 14px 0;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));


  .card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    border: 1px solid var.$border;
    background: var.$white;
    padding: 6px 10px;
    border-radius: 4px;

    &--icon {
      padding: 20.5px 10px;
    }

    &--content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      padding: 17px 0;

      h3 {
        font-size: 1.25rem;
        font-family: var.$font-bold;
      }
      p {
        font-size: .9375rem;
        color: var.$text-secondary;
      }
    }
  }
}