@use "./__variables" as var;
// .site-footer {
//   background-color: $primary-color;
//   color: white;
//   text-align: center;
//   padding: .625rem;
// }

.site-footer {
  background-color: var.$primary;
  font-size: 10px;
  color: white;
  text-align: center;
  font-family: var.$font-light;
  padding: 0.625rem;
}
