@use './__variables' as var;

.top-panel {
  display: flex;
  justify-content: space-between;
  padding: 14px;
  align-items: center;
  margin-top: 14px;
  background: var.$white;
  h1 {
    font-size: clamp(1.5rem, 2vw, 2rem);
  }
  button {
    font-size: .875rem;
    padding: 10px;
    font-family: var.$font-regular;
  }
}